.fullname {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border-style: none;
  background-color: #f1f2f6;
  min-height: 49px;
  width: 653px;
  padding-left: 20px;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}

.name {
  color: #636468;
  max-width: 650px;
  cursor: text;
  text-align: left;
}

.name[contenteditable]:empty::before {
  content: "Full name";
}

.hr {
  border-top: 2px solid #70707031;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 749px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 250px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-location,
.info-phone,
.info-email {
  border-style: none;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #636468;
  width: 100%;
  cursor: text;
  text-align: left;
  max-width: 200px;
}

.info-email {
  margin-left: 5px;
}

.info-location[contenteditable]:empty::before {
  content: "City, State Zip";
}

.info-phone[contenteditable]:empty::before {
  content: "(206) 555-5555";
}

.info-email[contenteditable]:empty::before {
  content: "name@email.com";
}

.name:focus,
.info-location:focus,
.info-phone:focus,
.info-email:focus {
  outline: none !important;
}
