.cv-header {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 45px;
}

.fb-icon {
  margin-right: 15px;
}

.job-title {
  display: flex;
  padding: 10px;
  min-width: 370px;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.title-span {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  text-align: left;
  justify-content: center;
  cursor: text;
  color: #636468;
  font-size: 22px;
  margin-left: 10px;
}

.title-span[contenteditable]:empty::before {
  content: "Job Title";
}

.title-span:focus {
  outline: none;
}


.job-title {
  border-style: none;
  border-radius: 50px;
  background-color: transparent;
}


.profile-pic {
  height: 47px;
  width: 47px;
  margin-right: 10px;
}

.name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #1f7bf7;
  margin-right: 125px;
}
