.card {
  width: 769px !important;
}
.title {
  text-align: left;
  margin-top: -1px;
}

.education {
  font-family: Helvetica, sans-serif;
  color: #636468;
  text-align: left;
  cursor: text;
}

.education[contenteditable]:empty::before {
  content: "Degree, College Name • Graduation Date • GPA";
}

.education:focus {
  outline: none;
}
