.card {
  width: 769px !important;
}
.title {
    text-align: left;
    margin-top: -1px;
}

.education {
    font-family: Helvetica, sans-serif;
    color: black;
    text-align: left;
}

.education[contenteditable]:empty::before {
  color: #636468;
  content: "Degree, College Name • Graduation Date • GPA";
}

.education:focus {
    outline: none;
}
