.title {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: text;
  text-align: left;
  max-width: 230px;
}

.title[contenteditable]:empty::before {
  content: "Soft Skills";
}

.title:focus,
.skills:focus {
  outline: none !important;
}

.skills {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #636468;
  line-height: 23px;
  border: none;
  resize: none;
  margin-bottom: 10px;
  min-width: 229px;
  max-width: 229px;
  text-align: left;
}
