.languages,
.technologies {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: none;
  cursor: text;
  text-align: left;
  max-width: 230px;
}

.languages[contenteditable]:empty::before {
  content: "Languages";
}

.technologies[contenteditable]:empty::before {
  content: "Technologies";
}

.languages:focus,
.technologies:focus,
.skills:focus {
  outline: none !important;
}

.skills {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #636468;
  line-height: 23px;
  border: none;
  resize: none;
  min-width: 227px;
  max-width: 227px;
  text-align: left;
}

.hr {
  border-top: solid 2px #63646846;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.wrapper {
  padding: 20px;
}

.card {
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 1px black;
  box-shadow: 0px 4px 4px rgba(0, 4, 4, 0.25);
}
