.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "klavika-medium";
  src: url(./Fonts/Klavika/klavika-medium.otf);
}

.download {
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: fit-content;
  background-color: #4867aa;
  color: #ffffff;
  font-family: klavika-medium, sans-serif;
  font-size: 32px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 100ms ease-in;
}

.download:hover {
  color: #4867aa;
  background-color: #ffffff;
}
